<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frankie Nuffer-Rodriguez</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body>
    
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand" style="background-color: plum;">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">Home</a>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="hobbies.html">Hobbies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projects.html">Projects</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <i class="bi-balloon-heart" style="color: black; font-size: 20px;"></i>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container my-5">
    <div class="row">
        <!-- Profile Summary -->
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Frankie Nuffer-Rodriguez</h3>
                </div>
            </div>
        </div>

        <!-- Work Experience -->
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Work Experience</h4>
                    <div class="mb-3">
                        <h5>Technical Service Center Intern</h5>
                        <p class="text-muted">United States Bureau of Reclamation Applied Hydrology 2 | May 2024 - Present</p>
                        <ul>
                            <li>11-week summer internship working under a senior engineer</li>
                            <li>Support the development of construction flood loadings for a dam construction project</li>
                            <li>Calibrate and improve CalSim Hydro, to help the CalSim model for the California Central Valley Project</li>
                        </ul>
                    </div>
                    <div>
                        <h5>Course Assistant</h5>
                        <p class="text-muted">University of Colorado Boulder Department of Applied Mathematics | Jan. 2025 - Present</p>
                        <ul>
                            <li>Assist with APPM 3650 Algorithms and Data Structures in Python</li>
                            <li>Host weekly office hours to help students learn course material such as data structures, algorithms, and asymptotic complexity with an emphasis on applied math topics</li>
                            <li>Grade and provide feedback on bi-weekly quizzes, weekly homeworks, and two exams</li>
                        </ul>
                    </div>
                    <div>
                        <h5>Resident Advisor</h5>
                        <p class="text-muted">University of Colorado Boulder Residence Life | Dec. 2021 - Present</p>
                        <ul>
                            <li>Mentor and advise first-year and upperclassman students, while monitoring community safety</li>
                            <li>Mediate conflict between roommates and suitemates</li>
                            <li>Create, market, and lead student centered hall events to promote personal, academic, social justice, and community responsibility</li>
                        </ul>
                    </div>
                    <div>
                        <h5>Teaching Assistant</h5>
                        <p class="text-muted">University of Colorado Boulder Department of Applied Mathematics | Aug. 2024 - Dec. 2024</p>
                        <ul>
                            <li>Assisted with APPM 1650 Python for Math and Data Science Applications</li>
                            <li>Led two weekly recitation sections with 14-20 students each and hosted 2 hours of weekly office hours</li>
                            <li>Assisted students with the basics of programming and Python tools such as numpy, pyplot, and Pandas</li>
                            <li>Graded and provided feedback on weekly quizzes, homeworks, and recitation exercises and three exams</li>
                        </ul>
                    </div>
                    <div>
                        <h5>Senior Resident Advisor</h5>
                        <p class="text-muted">University of Colorado Boulder Residence Life | Aug. 2023 - May 2024</p>
                        <ul>
                            <li>Elevated leadership position from the Resident Advisor role</li>
                            <li>Worked directly with the Hall Director to create and maintain a cohesive staff and building dynamic</li>
                            <li>Managed the scheduling of Resident Advisors' duties</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Education -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Education</h4>
                    <p><strong>Bachelor of Science in Applied Mathematics</strong></p>
                    <p class="text-muted">University of Colorado Boulder | May 2025</p>
                    <p>Minors in Computer Science and Engineering Management
                    </p>
                    <ul>
                        <li>Dean's List</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Skills -->
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Skills</h4>
                    <ul>
                        <li>Programming languages: Proficient in C, C++, Python, R, SQL
                        <li>Tools: Tableau, Mathematica, Docker, Git</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Contact Information -->
        <div class="col-12 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="card-title">Contact Me</h4>
                    <p>Email: Frankie.Nuffer-Rodriguez@colorado.edu</p>
                    <p>Phone: 303-715-8601</p>
                    <p>LinkedIn: <a href="www.linkedin.com/in/francesca-nuffer-rodriguez" target="_blank">linkedin.com/in/francesca-nuffer-rodriguez</a></p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <a href="../resources/Nuffer-Rodriguez_Resume.pdf" target="_blank" download="Nuffer-Rodriguez_Resume.pdf" class="btn" style="background-color: plum;">Download PDF</a>
                </div>
            </div>
        </div>
    </div>
</div>

    

    <!-- Footer -->
    <footer class="text-black text-center py-2 mt-auto" style="background-color: plum;">
        <a href="www.linkedin.com/in/francesca-nuffer-rodriguez" target="_blank" class="text-primary"><i class="bi-linkedin" style="font-size: 20px; color: black;"></i></a>
        <a href="mailto:frankie.nuffer-rodriguez@colorado.edu" target="_blank" class="text-primary"><i class="bi-envelope" style="font-size: 20px;color: black;"></i></a>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>